# dependencies & builds
**/node_modules/
dist/
build/
frontend/.vite/

# environment & secrets
*.env
.env.*

# logs & daemons
npm-debug.log*
pnpm-debug.log*
pm2.log

# OS / editor junk
.DS_Store
.idea/
.vscode/

# ignore Mongo dumps if you store them locally
dump/
