# dependencies & builds
**/node_modules/
dist/
build/
frontend/.vite/

# environment & secrets
*.env
.env.*

# logs & daemons
npm-debug.log*
pnpm-debug.log*
pm2.log

# OS / editor junk
.DS_Store
.idea/
.vscode/

# ignore Mongo dumps if you store them locally
dump/

/uploads

# Challenge system - hide implementation from students
backend/models/Challenge.js
backend/routes/challenge.js
frontend/src/pages/ChallengeSite.jsx
frontend/src/API/apiChallenge.jsx