PORT=5000
MONGODB_URI=mongodb://localhost:27017/prizeversity?replicaSet=rs0

# When using express-session (or similar libraries) in Node.js, you must provide a secret string that is used to sign the session ID cookie. This ensures your app can detect if the cookie was tampered with.
#
# Where Does the Secret Come From?
# Generate a random string (the more entropy, the better). For instance:
#
# Use an online password generator or a command-line utility.
# Example: openssl rand -base64 32 (on Linux/macOS) or an online random string generator.
# Sample: Ht!Qp9^7eWk29@_sN3^aRandoM0SeCreT
# 
# There’s no single “official” place to get it; any sufficiently random string is fine. The important point is do not commit it to public source control (GitHub, etc.)—keep it secret (hence the name).
SESSION_SECRET=someSuperSecret

BASE_URL=http://localhost:5000

# Google OAuth
# https://console.cloud.google.com/apis/credentials
# Make sure to add/register the redirect_uri, e.g. http://localhost:5000/api/auth/google/callback
# You can do so from the Project > OAuth 2.0 Client IDs > Authorized redirect URIs > Add URI
# https://youtu.be/TjMhPr59qn4?si=EKFlIMkQg4Eq6gDo
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# Microsoft OAuth
# Retrieved via App Registrations on Azure Portal: https://portal.azure.com/?quickstart=True#view/Microsoft_AAD_RegisteredApps/ApplicationsListBlade
# Make sure to add/register the redirect_uri, e.g. http://localhost:5000/api/auth/microsoft/callback
# You can do so from the App Registration > Authentication > Add a (web) platform > Add Web Redirect URI
# Also make sure for Supported account types, you select "Personal Microsoft account users". Selecting the Multi-Tenant account type will require a lengthy publisher verification process!!!
#
# IMPORTANT!
# If you want to use 'common' endpoint with the passport 'identityMetadata' URI, you’re telling Microsoft: "I support both organizational (Azure AD) and personal (Microsoft Live) accounts.". Thus, you have to become a "verified publisher", meaning you must become a "Partner": https://partner.microsoft.com/en-us/dashboard/account/exp/enrollment/welcome?cloudInstance=Global&accountProgram=basicpartnernetwork&optn=101:1510
# # When asked: "How would you like to partner with Microsoft?" Choose "Partner to find the solutions and resources you need to grow your business, and demonstrate your proven expertise in competencies and specialized areas of business. (Microsoft AI Cloud Partner Program)"
# Note:
# # MPN ID is no longer named such, it's now called a Partner ID
# # MPN is no longer called Microsoft Partner Network, it is now called "Azure AI Cloud Partner Program"
# Additionally, having a Partner Center account is not sufficient, you must also go to Account Settings/Programs, and specifically add the "Azure AI Cloud Partner Program" if you're not part of the program yet!
# Partner ID is now accessible in "Account Settings > Identifiers > Azure AI Cloud Partner Program". 
# You will probably notice TWO Partner IDs. You need the one of type "PartnerGlobal"
# HOWEVER... You still cannot add this ID to your app registration! First, you MUST:
# # Go to Account Settings/Tenants
# # IMPORTANT: if you are in multiple programs, you might see multiple tabs at the top, such as Partner | Developer. Chose the tab/program you want to actually associate your app with (the Entra that has your app registration)
# # Now click "Associate Microsoft Entra ID" to link your other tentant in here.
# To set the verifiedPublisherID you should have at least Delegated type "Application.ReadWrite.All" API Permission enabled in the App Registration.
MICROSOFT_CLIENT_ID=YOUR_MS_CLIENT_ID # NOT SECRET ID!
MICROSOFT_CLIENT_SECRET=YOUR_MS_CLIENT_SECRET
