PORT=5000
MONGODB_URI=mongodb://localhost:27017/prizeversity?replicaSet=rs0

# When using express-session (or similar libraries) in Node.js, you must provide a secret string that is used to sign the session ID cookie. This ensures your app can detect if the cookie was tampered with.
#
# Where Does the Secret Come From?
# Generate a random string (the more entropy, the better). For instance:
#
# Use an online password generator or a command-line utility.
# Example: openssl rand -base64 32 (on Linux/macOS) or an online random string generator.
# Sample: Ht!Qp9^7eWk29@_sN3^aRandoM0SeCreT
# 
# There’s no single “official” place to get it; any sufficiently random string is fine. The important point is do not commit it to public source control (GitHub, etc.)—keep it secret (hence the name).
SESSION_SECRET=someSuperSecret

BASE_URL=http://localhost:5000

# Google OAuth
# https://console.cloud.google.com/apis/credentials
# Make sure to add/register the redirect_uri, e.g. http://localhost:5000/api/auth/google/callback
# You can do so from the Project > OAuth 2.0 Client IDs > Authorized redirect URIs > Add URI
# https://youtu.be/TjMhPr59qn4?si=EKFlIMkQg4Eq6gDo
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# Microsoft OAuth
# Retrieved via App Registrations on Azure Portal: https://portal.azure.com/?quickstart=True#view/Microsoft_AAD_RegisteredApps/ApplicationsListBlade
# Make sure to add/register the redirect_uri, e.g. http://localhost:5000/api/auth/microsoft/callback
# You can do so from the App Registration > Authentication > Add a (web) platform > Add Web Redirect URI
# Also make sure for Supported account types, you select "Accounts in any organizational directory (Any Microsoft Entra ID tenant - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)"
MICROSOFT_CLIENT_ID=YOUR_MS_CLIENT_ID
MICROSOFT_CLIENT_SECRET=YOUR_MS_CLIENT_SECRET
